*_pb2.py
*_pb2_grpc.py
.DS_Store
*.pyc
build/
.gradle/
*.iml
*.orig
out/
dist/
.ipynb_checkpoints/
demos/
epl/__pycache__/
epl/geometry/__pycache__/
epl_geometry.egg-info/
*.ipynb
temp/
epl/geometry/geometry_operators_pb2.py
epl/geometry/geometry_operators_pb2_grpc.py
.cache/
.pytest_cache/
epl.geometry.egg-info/
epl/grpc/geometry/geometry_operators_pb2.py
epl/grpc/geometry/geometry_operators_pb2_grpc.py
