.DS_Store
*.pyc
build/
.gradle/
*.iml
*.orig
out/
.idea/libraries/*.xml
vcs.xml
dist/
.ipynb_checkpoints/
demos/
epl/__pycache__/
epl/geometry/__pycache__/
epl_geometry.egg-info/
projection-horizon.ipynb
temp/
epl/geometry/geometry_operators_pb2.py
epl/geometry/geometry_operators_pb2_grpc.py
